<%- include('../includes/head.ejs') %> 

</head>
<body>
    <div class="wrapper">
    <%- include('../includes/nav.ejs') %>
    <div class="main_content">
        <div class="header">Error Page</div>
        <div class="info">
        <div class="row justify-content-center center">
<h1 class="center">Error Page 404</h1>
        </div>
        <br /><br />
        </div>
    </div>
    </div>
<%- include('../includes/end.ejs') %>
